@font-face {
  font-family: Bebas;
  src: url('Bebas-Regular.ttf');
}

/* credit for animation: "https://dev.to/tiaeastwood/super-simple-css-animation-for-fade-in-on-page-load-2p8m" */
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

body {
  font-family: Bebas;
  background-color: #f3f3f3;
  margin-top: 4em;
  margin-left: 5em;
  margin-right: 5em;
  
}


.textbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.maintext{
  order: 1;
  font-size: 10vw;
  line-height: 1.5em;
  z-index: 1;
}
  

h1 {
  animation-name: fadeInUp;
  animation-duration: 2s;
}


img {
  animation-name: fadeInUp;
  animation-duration: 2s;
  z-index: -1;
  margin-top: -4em;
  max-width: 100%;
  height: auto;
}
